<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>org.simon-cozens.erode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Erode</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Simon Cozens, 2016</string>
	<key>NSPrincipalClass</key>
	<string>Erode</string>
</dict>
</plist>
